# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

  **OBJECTIVES:** 
- languages for Data Science
    + R
    + python
    + C
- common tools in Data Science
    - MySQL
    - GitHub
- Type of Cloud in Data Science
    * private cloud
    * public Cloud
    * hybrid Cloud

### Some of the popular languages that Data Scientists use are:
+ Python 
+ R
+ C
+ Java

#### Some of the commonly used libraries used by Data Scientists include:
+ Numpy
+ Pandas
+ keras
+ PyTorch
+ TensorFlow

| Data Science Tools
|------------------
| MySQL
| Hadoop File System
| Ceph
| GitHub

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
(3*4)+5
###This a simple arithmetic expression to mutiply then add integers

17

In [9]:
###This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Adedotun Alonge